/* write your styles here */

body {
  margin: 0;
}

.block {
  height: 100px;
  width: 300px;
  margin: 0 auto;
}

#header {
  background-color: blue;
}

#footer {
  background-color: black;
}

.important {
  background-color: red;
}

.interesting {
  background-color: green;
}

.surprising {
  background-color: orange;
}

.block:hover {
  height: 200px;
}
